body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: rgb(233, 166, 233);
    color: black;
    font-family: sans-serif;
    text-align: center;
  }

.imagen {width: 50%; border-radius: 30%; margin-bottom: 10%;}

.footer{
  color:black;
  background-color: rgb(179, 104, 179);
  height: 1em;
  width: 100%;
  text-align: center;
  padding: 1%;
  bottom: 0;
  margin-top: 10vh;
}

.footer h4 {
  margin-top: 0%;
  margin-bottom: 0%;}